<div class="carousel__holder">
  <div id="myCarousel" data-ride="carousel" class="carousel slide" data-interval="7000">
    <ol class="carousel-indicators">
      {% for item in site.data.carousel.images %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
      </ol>

      <div class="carousel-inner">
        {% for item in site.data.carousel.images %}
        {% if forloop.first %}<div class="item active">
        {% else %}<div class="item">{% endif %}
          <img src='{{  item.image  }}' style="width:100%;">
        </div>
        {% endfor %}
      </div>

    <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" style="color: #db7ca5"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" style="color: #db7ca5"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

<style>
.carousel__holder {
  width: 100%;
  position: relative;
  padding-bottom: {{ include.height }}{{ include.unit }};
  margin: 1rem 0 1rem;
}
.carousel.slide {
  height: 100%;
  width: 100%;
  overflow: clip;
  text-align: center;
  position: absolute;
  padding: 0;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    opacity: 1
}
.carousel-indicators {
  position: absolute;
  bottom: 10;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}
</style>

<script>
  function isVisible(el) {
        while (el) {
            if (el === document) {
                return true;
            }

            var $style = window.getComputedStyle(el, null);

            if (!el) {
                return false;
            } else if (!$style) {
                return false;
            } else if ($style.display === 'none') {
                return false;
            } else if ($style.visibility === 'hidden') {
                return false;
            } else if (+$style.opacity === 0) {
                return false;
            } else if (($style.display === 'block' || $style.display === 'inline-block') &&
                $style.height === '0px' && $style.overflow === 'hidden') {
                return false;
            } else {
                return $style.position === 'fixed' || isVisible(el.parentNode);
            }
        }
  }
</script>