<a data-flickr-embed="true" href="https://www.flickr.com/groups/14787015@N21/pool/" title="OpenFlexure">
    <img src="https://live.staticflickr.com/65535/53598079208_0f7740d974_c.jpg" width="1024" height="768" alt="OpenFlexure"/>
</a>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
