<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a target="_blank" href="{{' /about/' | absolute_url }}>About</a></li>
          <li><a target="_blank" href="https://openflexure.discourse.group/">OpenFlexure Forum</a></li>
          <br/>
          <!--<li><a target="_blank" href="https://gitlab.com/openflexure/openflexure-helpdesk/-/issues">OpenFlexure Helpdesk</a></li>
          <br/>-->
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
