<div class="flex-container flex-auto flex-container-horizontal flex-valign-center elevated padding-small float-left margin-bottom-small {{ include.margin }}">
    <div class="flex-grow">
        <a href="{{ include.link }}"><h3>{{ include.title }}</h3></a>
        {{ include.content }}
    </div>
    {% if include.hero %}
        <div class="flex-auto margin-left-small">
            <a href="{{ include.link }}"><img src="{{ include.hero }}" alt="{{ include.title }}" class="image-small no-shadow"></a>
        </div>
    {% endif %}
</div>
