<div class="tweetbox">
    <a class="twitter-timeline" data-height="568" data-link-color="#c5247f" href="https://twitter.com/OpenFlexure?ref_src=twsrc%5Etfw">Tweets by OpenFlexure</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>