<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="landingcontainer">
      <div class="landing-grid flex-container">
        <div class="landing-textbox">
          <h1>The OpenFlexure Project</h1>
          The OpenFlexure project makes high precision mechanical positioning available to anyone with a 3D printer - for use in microscopes, micromanipulators, and more.
        </div>
        <div class="landing-emblem" >
          <img src="./assets/logo_emblem.svg" alt="OpenFlexure.org">
        </div> 
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      
    </div>

    {% include footer.html %}

  </body>

</html>
